@charset "UTF-8";
@font-face {
  font-family: "alliewriting";
  src: url('../font/alliewriting__by_pixie_dixie_rulz.ttf');
}
@font-face {
  font-family: "MyriadPro Regular";
  src: url('../font/MyriadPro Regular.otf');
}
/* 是全局类  */
.btn {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  border: 0;
  background: #383838; }

.wrap {
  min-width: 320px;
  max-width: 640px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
  background: #fff; }

.main {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative; 
}

/*goto.html 开始*/
.xc-goto .wrap{
  background: url(../img/goto-bg.png) no-repeat ;
  background-size:cover;
}
.xc-goto .main{
  width: 94%;
  margin: 0 auto;
  position: absolute;
  left: 3%;
  top: 50%;
  transform : translateY(-50%);
  background-color: rgba(0,0,0,0.6);
  line-height: 400%;
  font-weight: 600;
}
.xc-goto h1{
  border-bottom: 1px solid #a09fa2;
  padding: 1% 0px;
  margin: 0 auto;
  font-size: 400%;
  text-align: center;
  color: #fff;
}
.xc-goto .main div{
  padding-top: 1%;
  font-size: 250%;
  text-align: center;
  font-family: "MyriadPro Regular";
  color: #bfbfbf;
}
.xc-goto .main div span{
  display: block;
}
.xc-goto #goto-load img{
  padding-bottom: 1%;
  width: 50%;
  display: block;
  margin: 0 auto;
}
.xc-goto h3{
  overflow: hidden;
  font-size: 300%;
  font-family: "alliewriting";
  color: #bfbfbf;
  border-top: 1px solid #a09fa2;
  padding: 1% 0px;
}
.xc-goto h3 a{
  color: #bfbfbf;
  font-family: "alliewriting";
}
.xc-goto h3 .left{
  float: left;
  margin-left: 3%;
}
.xc-goto h3 .right{
  float: right;
  margin-right: 3%;
}

/* 音乐类和动画模板 */
#audio_btn {
  position: fixed;
  right: 20px;
  top: 8.5%;
  z-index: 200;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../img/mic_icon_01.png);
  background-repeat: no-repeat;
  background-position: 0px 0px; }

#audio_btn.off {
  /*background-position: 0px -50px;*/ }

audio {
  height: 1px;
  width: 1px;
  display: none;
}
.music-ani {
  -webkit-transform-origin: 50% 50%;
  animation-timing-function: linear;/*linear,ease,ease-in,ease-in-out,ease-out*/
  -webkit-animation-name: "music-ani";/*动画属性名，也就是我们前面keyframes定义的动画名*/
  -webkit-animation-duration: 100s;/*动画持续时间*/
  -webkit-animation-delay: 0s;/*动画延迟时间*/
  -webkit-animation-iteration-count: infinite;/*定义循环资料，infinite为无限次*/
  -webkit-animation-fill-mode: forwards;/* forwards 固定在最后一帧| backwards 固定在第一帧*/ }

@-webkit-keyframes music-ani {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36000deg);
    transform: rotate(36000deg); } }
