<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>brand-item</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body class="xc-homepage gift brand-item">
	<div class="wrap">
	  <div class="main">
	  <div class="home-warp">
	  	<div class="home-top">
			<a href="javascript:;" class="return"><img src="img/return.png" alt="返回"></a>
			<img src="img/home-bg.png" class="img" alt="图标">
			<a href="javascript:;" class="search"><img src="img/search.png" alt="搜索"></a>
		</div>
	  </div>
	  <div class="brand-conent">
	  	<h3><img src="img/brand-item-3.png"></h3>
	  	<div class="brand-item-1">
	  		<img src="img/brand-item-1.jpg" alt="">
	  		<a href="javascript:;" class="btn">购买渠道</a>
	  	</div>
	  	<div>
	  		<img src="img/brand-item-2.jpg" alt="">
	  	</div>
	  </div>
	  </div>
	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.mutouch.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>