<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>消息</title>
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body class="xc-homepage gift">
	<div class="wrap home">
		<div class="sidebar">
			<a href="javascript:;" class="btn-close"><img src="img/close.png"></a>
			<ul>
				<li>
					<a href="chat.html">我的消息<span>20</span></a>
				</li>
				<li>
					<a href="follow.html">我的关注</a>
				</li>
				<li>
					<a href="personal.html">个人主页</a>
				</li>
				<li>
					<a href="history.html">历史浏览</a>
				</li>
				<li>
					<a href="feedback.html">意见反馈</a>
				</li>
				<li>
					<a href="personal-info.html">设置</a>
				</li>
				<li>
					<a href="help.html">help</a>
				</li>
			</ul>
			<div class="mask-home"></div>
			<div class="login-group">
				<a href="login.html" class="btn-login active">登入</a>
				<a href="javascript:;" class="btn-logout">退出</a>
			</div>
		</div>
		<div class="main">
			<div class="home-warp">
				<div class="home-h1">
					<a href="javascript:;" class="btn-menu"><img src="img/menu.png" alt="菜单"></a>
					<img src="img/home-bg.png" alt="图标" class="bg">
					<a href="search.html" class="right"><img src="img/search.png" alt="搜索"></a>
				</div>
			</div>
			<div id="message">
				<ul id="messageList">
					<li>
						<img src="img/message-user1.png">
						<p><span>Stalin</span><span class="time">21 : 00</span></p>
						<p class="say">周末了今天穿点什么潮牌出去呀</p>
					</li>
					<li>
						<img src="img/message-user2.png">
						<p><span>Hegel</span><span class="time">21 : 01</span></p>
						<p class="say">之前官网的那件衣服是多大的</p>
					</li>
					<li>
						<img src="img/message-user3.png">
						<p><span>Nietzsche</span><span class="time">21 : 05</span></p>
						<p class="say">身材好果然什么都好呀</p>
					</li>
					<li>
						<img src="img/message-user4.png">
						<p><span>Joel</span><span class="time">21 : 30</span></p>
						<p class="say">时装周的票拿到了</p>
					</li>
					<li>
						<img src="img/message-user5.png">
						<p><span>Mark</span><span class="time">22 : 00</span></p>
						<p class="say">该发帖子了</p>
					</li>
					<li>
						<img src="img/message-user6.png">
						<p><span>桃子</span><span class="time">23 : 00</span></p>
						<p class="say">今天阳光不错，戴墨镜吧</p>
					</li>
					<li>
						<img src="img/message-user7.png">
						<p><span>Heller</span><span class="time">23 : 30</span></p>
						<p class="say">那件毛衣配点什么好</p>
					</li>
				</ul>
			</div>
			<ul id="homepage-bg" class="off" data-menu=["消息","主页","个人","好友"] data-url=["chat.html","home.html","personal.html","friend.html"]>
				<li class="fst"><a href="javascript:;">消息</a></li>
				<li class="sed"><a href="javascript:;">主页</a></li>
			</ul>
		</div>
	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.mutouch.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>