<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>分享</title>
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="expires">
  <meta content="telephone=no, address=no" name="format-detection">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="xc-home">
  <div class="wrap home minimalist">
    <div class="sidebar">
      <a href="javascript:;" class="btn-close"><img src="img/close.png"></a>
      <ul>
        <li>
          <a href="chat.html">我的消息<span>20</span></a>
        </li>
        <li>
          <a href="follow.html">我的关注</a>
        </li>
        <li>
          <a href="personal.html">个人主页</a>
        </li>
        <li>
          <a href="history.html">历史浏览</a>
        </li>
        <li>
          <a href="feedback.html">意见反馈</a>
        </li>
        <li>
          <a href="personal-info.html">设置</a>
        </li>
        <li>
          <a href="help.html">help</a>
        </li>
      </ul>
      <div class="mask-home"></div>
      <div class="login-group">
        <a href="login.html" class="btn-login active">登入</a>
        <a href="javascript:;" class="btn-logout">退出</a>
      </div>
    </div>
    <div class="main">
      <div class="mark">
      <div class="pre-message">
      <div class="cont">
        <div class="head">
          <div class="icon">
            <img src="img/user.png" alt="头像">
          </div>
          <div class="des">
            <p>用户名</p>
            <p><span>10</span>分钟前在线</p>
          </div>
          <div class="close">
            <img src="img/close.png" alt="关闭">
          </div>
        </div>
        <div class="body">
          <p>哒哒哒阿达大大阿达大大阿达阿达打大大阿达大大哒哒哒阿达啊</p>
        </div>
        <div class="footer">
          <div class="message-say">
            <input type="text" placeholder="输入回复">
          </div>
          <div class="send">
            发送
          </div>
        </div>
        </div>
      </div>
      </div>
      <div class="home-h1">
        <a href="javascript:;" class="btn-menu"><img src="img/menu.png" alt="菜单"></a>
        <img src="img/home-bg.png" alt="图标" class="bg">
        <a href="upload.html" class="right"><img src="img/camera.png" alt="camera"></a>
      </div>
      <div class="date date-xc">
        <div class="nav-warp">
          <ul class="nav">
            <li>LIFE</li>
            <li class="active">DATE</li>
            <li>SCHOOL</li>
            <li>PROFESSION</li>
          </ul>
        </div>
        <div class="date-down">
          <ul>
            <li>
              <h2>01</h2>
              <img src="img/date-top1.jpg" alt="top1">
              <div class="date-btn">已关注</div>
              <div class="date-good"><img src="img/date-good.png" alt="good"></div>
            </li>
            <li>
              <h2>02</h2>
              <img src="img/date-top2.jpg" alt="top1">
              <div class="date-btn">已关注</div>
              <div class="date-good"><img src="img/date-good.png" alt="good"></div>
            </li>
            <li>
              <h2>03</h2>
              <img src="img/date-top3.jpg" alt="top1">
              <div class="date-btn">已关注</div>
              <div class="date-good"><img src="img/date-good.png" alt="good"></div>
            </li>
            <li>
              <h2>04</h2>
              <img src="img/date-top4.jpg" alt="top1">
              <div class="date-btn">已关注</div>
              <div class="date-good"><img src="img/date-good.png" alt="good"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/jquery.mutouch.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>