<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>好友</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body class="xc-sreach xc-homepage">
	<div class="wrap home">
		<div class="sidebar">
			<a href="javascript:;" class="btn-close"><img src="img/close.png"></a>
			<ul>
				<li>
					<a href="chat.html">我的消息<span>20</span></a>
				</li>
				<li>
					<a href="follow.html">我的关注</a>
				</li>
				<li>
					<a href="personal.html">个人主页</a>
				</li>
				<li>
					<a href="history.html">历史浏览</a>
				</li>
				<li>
					<a href="feedback.html">意见反馈</a>
				</li>
				<li>
					<a href="personal-info.html">设置</a>
				</li>
				<li>
					<a href="help.html">help</a>
				</li>
			</ul>
			<div class="mask-home"></div>
			<div class="login-group">
				<a href="login.html" class="btn-login active">登入</a>
				<a href="javascript:;" class="btn-logout">退出</a>
			</div>
		</div>
	  <div class="main">
			<div class="home-warp">
				<div class="home-h1">
					<a href="javascript:;" class="btn-menu"><img src="img/menu.png" alt="菜单"></a>
					<img src="img/home-bg.png" alt="图标" class="bg">
					<a href="upload.html" class="right"><img src="img/camera.png" alt="camera"></a>
				</div>
			</div>
		  <div class="sreach-head">
				<h2>添加好友</h2>
				<div class="sreach-input">
					<form action="">
						<input type="text" id="sreach">
					</form>
				</div>
				<img src="img/friend.png">
			</div>
			<ul id="homepage-bg" class="off" data-menu=["好友","消息","主页","个人"] data-url=["friend.html","chat.html","home.html","personal.html"]>
				<li class="fst"><a href="javascript:;">好友</a></li>
				<li class="sed"><a href="javascript:;">消息</a></li>
			</ul>
	  </div>
	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.mutouch.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>