<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>FERE - Fashion Sharing Platform</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="/fere/css/reset.css">
<link rel="stylesheet" href="/fere/css/style.css">
</head>
<body class="xc-goto">
	<div class="wrap">
		<img class="img-bg" src="/fere/img/goto-bg.png">
	  <div class="main">
	  	<h1>FERE</h1>
	  	<div><span>A NEW</span><span>Fashion Sharing Platform</span></div>
	  	<a href="javascript:;" id="goto-load"><img src="/fere/img/goto-load.png"></a>
	  	<h3>
	  		<a href="javascript:;" class="left">about us</a>
	  		<a href="javascript:;" class="right">hlep</a>
	  	</h3>
	  </div>
	</div>
	<script src="/fere/js/jquery-2.1.4.min.js"></script>
	<script src="/fere/js/main.js"></script>
</body>
</html>