<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>历史浏览</title>
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body class="xc-homepage gift follow sign-in share-photo">
	<div class="wrap home">
		<div class="sidebar">
			<a href="javascript:;" class="btn-close"><img src="img/close.png"></a>
			<ul>
				<li>
					<a href="chat.html">我的消息<span>20</span></a>
				</li>
				<li>
					<a href="follow.html">我的关注</a>
				</li>
				<li>
					<a href="personal.html">个人主页</a>
				</li>
				<li>
					<a href="history.html">历史浏览</a>
				</li>
				<li>
					<a href="feedback.html">意见反馈</a>
				</li>
				<li>
					<a href="personal-info.html">设置</a>
				</li>
				<li>
					<a href="help.html">help</a>
				</li>
			</ul>
			<div class="mask-home"></div>
			<div class="login-group">
				<a href="login.html" class="btn-login active">登入</a>
				<a href="javascript:;" class="btn-logout">退出</a>
			</div>
		</div>
		<div class="main">
			<div class="home-warp">
				<div class="home-h1">
					<a href="javascript:;" class="btn-menu"><img src="img/menu.png" alt="菜单"></a>
					<img src="img/home-bg.png" alt="图标" class="bg">
					<a href="search.html" class="right"><img src="img/search.png" alt="搜索"></a>
				</div>
			</div>
			<h3 class="follow-say">历史浏览</h3>
			<div class="home-main cont">
				<ul>
					<li>
						<p class="homemain-top"><span>2.20</span>2017 </p>
						<div class="top">
							<div class="left">
								<a href="javascript:;">
									<span>
									<img src="img/user1.png" alt="小a">
								</span>
								</a>
								<p class="name">小a</p>
								<p class="from">come form/爱好</p>
							</div>
							<div class="right">
								<input type="button" class="btn gz" value="关注">
							</div>
						</div>
						<div class="homemain-down">
							<div class="main-down-top">
								<img src="img/base.png" alt="STICK">
								<p>STICK</p>
								<span>4</span>
							</div>
							<div class="main-down-left">
								<img src="img/huaxu.png" alt="PABI">
								<p>PABI</p>
								<span>1</span>
							</div>
							<div class="main-down-right">
								<img src="img/huaxu.png" alt="AXS">
								<p>AXS</p>
								<span>23</span>
							</div>
						</div>
						<div class="head">
							<p><img src="img/share-read.png" alt="浏览"><span>12345</span>浏览</p>
							<p><img src="img/share-good.png" alt="点赞" class="good"><span>12345</span>赞</p>
							<p><img src="img/follow-talk.png" alt="评论" class="good"><span>12345</span></p>
						</div>
					</li>
					<li>
						<p class="homemain-top"><span>2.20</span>2017
						</p>
						<div class="top">
							<div class="left">
								<a href="javascript:;">
									<span>
									<img src="img/user1.png" alt="小a">
								</span>
								</a>
								<p class="name">小a</p>
								<p class="from">come form/爱好</p>
							</div>
							<div class="right">
								<input type="button" class="btn gz" value="关注">
							</div>
						</div>
						<div class="homemain-down">
							<div class="main-down-top">
								<img src="img/base.png" alt="STICK">
								<p>STICK</p>
								<span>4</span>
							</div>
							<div class="main-down-left">
								<img src="img/huaxu.png" alt="PABI">
								<p>PABI</p>
								<span>1</span>
							</div>
							<div class="main-down-right">
								<img src="img/huaxu.png" alt="AXS">
								<p>AXS</p>
								<span>23</span>
							</div>
						</div>
						<div class="head">
							<p><img src="img/share-read.png" alt="浏览"><span>12345</span>浏览</p>
							<p><img src="img/share-good.png" alt="点赞" class="good"><span>12345</span>赞</p>
							<p><img src="img/follow-talk.png" alt="评论" class="good"><span>12345</span></p>
						</div>
					</li>
				</ul>
			</div>
			<div id="homepage-bg2" >
				<a href="history-list.html"><img src="img/toggle.png"></a>
			</div>
		</div>
	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.mutouch.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>