<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Personal-infor-edit</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body class="xc-homepage per-infor per-infor-edit">
	<div class="wrap home">
		<div class="sidebar">
			<a href="javascript:;" class="btn-close"><img src="img/close.png"></a>
			<ul>
				<li>
					<a href="chat.html">我的消息<span>20</span></a>
				</li>
				<li>
					<a href="follow.html">我的关注</a>
				</li>
				<li>
					<a href="personal.html">个人主页</a>
				</li>
				<li>
					<a href="history.html">历史浏览</a>
				</li>
				<li>
					<a href="feedback.html">意见反馈</a>
				</li>
				<li>
					<a href="personal-info.html">设置</a>
				</li>
				<li>
					<a href="help.html">help</a>
				</li>
			</ul>
			<div class="mask-home"></div>
			<div class="login-group">
				<a href="login.html" class="btn-login active">登入</a>
				<a href="javascript:;" class="btn-logout">退出</a>
			</div>
		</div>
	  <div class="main">
		<div class="home-warp">
			<div class="home-h1">
				<a href="javascript:;" class="btn-menu"><img src="img/menu.png" alt="菜单"></a>
				<img src="img/home-bg.png" alt="图标" class="bg">
				<a href="search.html" class="right"><img src="img/search.png" alt="搜索"></a>
			</div>
		</div>
		<div class="infor-img">
			<img src="img/infor-img.png" alt="头图">
			<h3>
				<img src="img/infor-user.png" alt="用户头像">
				<button class="btn gz">保存</button>
			</h3>
			<p>selly-Lo‘ok<img src="img/she.png" alt="性别"></p>
			<p><a href="javascript:;">发消息</a></p>
			<p class="res">
				<span>111</span>关注&nbsp;&nbsp;&nbsp;&nbsp;
				<span>111</span>粉丝
			</p>
		</div>
		<p class="infor-edit">
			<span>信息编辑</span>
		</p>
		<div class="infor-cont">
			<ul>
				<form action="">
					<li><span>年龄</span><input type="text"></li>
					<li><span>体重</span><input type="text"></li>
					<li><span>身高</span><input type="text"></li>
					<li><span>爱好</span><input type="text"></li>
					<li><span>所在地</span><input type="text"></li>
					<li><span>发型</span><input type="text"></li>
					<li class="block"><p>简介</p><textarea width="100%"></textarea></li>
					<li><span>微博</span><input type="text"></li>
					<li><span>淘宝</span><input type="text"></li>
					<li><span>微信</span><input type="text"></li>
				</form>
			</ul>
		</div>
		<ul id="homepage-bg" class="off" data-menu=["消息","主页","个人","好友"] data-url=["chat.html","home.html","personal.html","friend.html"]>
			<li class="fst"><a href="javascript:;">消息</a></li>
			<li class="sed"><a href="javascript:;">主页</a></li>
		</ul>
	  </div>
	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.mutouch.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>