<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>message</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body class="xc-homepage gift">
	<div class="wrap">
	  <a href="javascript:;" id="homepage-bg"><img src="img/mess.png" alt="消息" ></a>
	  <div class="main">
	  <div class="home-warp">
	  	<div class="home-top">
			<a href="javascript:;" class="return"><img src="img/return.png" alt="返回"></a>
			<img src="img/home-bg.png" class="img" alt="图标">
			<a href="javascript:;" class="search"><img src="img/search.png" alt="搜索"></a>
		</div>
	  </div>
	  <div id="message">
	  	<ul>
	  	  <li>
	  	  	<img src="img/message-user1.png" alt="小A">
	  	  	<p><span>小A</span><span class="time">12 : 00</span></p>
	  	  	<p class="say">周末了今天穿点什么潮牌出去呀</p>
	  	  </li>
	  	  <li>
	  	  	<img src="img/message-user2.png" alt="小A">
	  	  	<p><span>小A</span><span class="time">12 : 00</span></p>
	  	  	<p class="say">之前官网的那件衣服是多大的</p>
	  	  </li>
	  	  <li>
	  	  	<img src="img/message-user3.png" alt="小A">
	  	  	<p><span>小A</span><span class="time">12 : 00</span></p>
	  	  	<p class="say">身材好果然什么都好呀</p>
	  	  </li>
	  	  <li>
	  	  	<img src="img/message-user4.png" alt="小A">
	  	  	<p><span>小A</span><span class="time">12 : 00</span></p>
	  	  	<p class="say">时装周的票拿到了</p>
	  	  </li>
	  	  <li>
	  	  	<img src="img/message-user5.png" alt="小A">
	  	  	<p><span>小A</span><span class="time">12 : 00</span></p>
	  	  	<p class="say">该发帖子了</p>
	  	  </li>
	  	  <li>
	  	  	<img src="img/message-user6.png" alt="小A">
	  	  	<p><span>小A</span><span class="time">12 : 00</span></p>
	  	  	<p class="say">今天阳光不错，戴墨镜吧</p>
	  	  </li>
	  	  <li>
	  	  	<img src="img/message-user7.png" alt="小A">
	  	  	<p><span>小A</span><span class="time">12 : 00</span></p>
	  	  	<p class="say">那件毛衣配点什么好</p>
	  	  </li>
	  	</ul>
	  </div>
	  </div>
	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.mutouch.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>