<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Personal -edit</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body class="xc-homepage">
	<div class="wrap">
	  <a href="javascript:;" id="homepage-bg"><img src="img/homebg.png" alt="主页" ></a>
	  <div class="main">
		<div class="home-top">
			<a href="javascript:;" class="return"><img src="img/return.png" alt="返回"></a>
			<img src="img/home-bg.png" class="img" alt="图标">
			<a href="javascript:;" class="search"><img src="img/search.png" alt="搜索"></a>
		</div>
		<div class="bannerdiv">
			<div class="banner" style="">
				<button class="btn bj">编辑</button>
				<div class="bannerlist" id="bannerone">
					<a href="javascript:;">
						<img src="img/homelist.jpg">
						<p>Tao zi</p>
					</a>
				</div>
				<div class="bannerlist">
					<a href="javascript:;">
						<img src="img/homelist.jpg">
						<p>Tao zi</p>
					</a>
				</div>
				<div class="bannerlist">
					<a href="javascript:;">
						<img src="img/homelist.jpg">
						<p>Tao zi</p>
					</a>
				</div>
			</div>
			<ul>
				<li class="active"></li>
				<li class=""></li>
				<li class=""></li>
			</ul>
		</div>
		<div class="home-main">
			<ul>
				<li>
					<p class="homemain-top"><span>2.20</span>2017 
					<button class="btn bj">编辑</button>
					</p>
					<div class="homemain-down">
						<div class="main-down-top">
							<img src="img/base.png" alt="鬼才">
							<p>鬼才</p>
							<span>4</span>
						</div>
						<div class="main-down-left">
							<img src="img/huaxu.png" alt="鬼才">
							<p>HUAXU</p>
							<span>23</span>
						</div>
						<div class="main-down-right">
							<img src="img/main3.png" alt="鬼才">
							<p>???</p>
							<span>1</span>
						</div>
					</div>
				</li>
				<li>
					<p class="homemain-top"><span>2.20</span>2017
					</p>
					<div class="homemain-down">
						<div class="main-down-top">
							<img src="img/base.png" alt="鬼才">
							<p>鬼才</p>
							<span>4</span>
						</div>
						<div class="main-down-left">
							<img src="img/huaxu.png" alt="鬼才">
							<p>HUAXU</p>
							<span>23</span>
						</div>
						<div class="main-down-right">
							<img src="img/main3.png" alt="鬼才">
							<p>???</p>
							<span>1</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	  </div>
	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.mutouch.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>