<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>礼物</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body class="xc-homepage gift">
	<div class="wrap">
	  <a href="javascript:;" id="homepage-bg"><img src="img/gift-img.png" alt="主页" ></a>
	  <div class="main">
	  <div class="home-warp">
	  	<div class="home-top">
			<a href="javascript:;" class="return"><img src="img/return.png" alt="返回"></a>
			<img src="img/home-bg.png" class="img" alt="图标">
			<a href="javascript:;" class="search"><img src="img/search.png" alt="搜索"></a>
		</div>
	  </div>
	  <div class="gift-conent">
	  	<div class="gift-num">
	  		<img src="img/gift.png" alt="礼物">
	  		<p class="margin">收到的礼物数</p>
	  		<p><span>123456</span>个<a href="javascript:;">填写收获地址</a></p>
	  	</div>
	  	<div class="div">
	  		<img src="img/ticket.png" alt="时装周门票">
	  		<p><span class="gift-name">时装周门票</span><span class="num">123个</span><br><button class="btn gz">转送</button><button class="btn gz">领取</button></p>
	  	</div>
	  	<div class="div">
	  		<img src="img/rose.png" alt="玫瑰">
	  		<p><span class="gift-name">玫瑰</span><span class="num">123个</span><br><button class="btn gz">转送</button><button class="btn gz">领取</button></p>
	  	</div>
	  </div>
	  <p class="gift-dic">更多礼物正在更新中 敬请期待...</p>
	  <div class="gift-record">
	  	<h4>用户赠送记录<img src="img/gift-down.png" alt="下拉"></h4>
	  	<p><span class="name">我是用户名</span><span>赠送</span><span class="gift-name">玫瑰</span></p>
	  	<p><span class="name">我是用户名</span><span>赠送</span><span class="gift-name">玫瑰</span></p>
	  	<p><span class="name">我是用户名</span><span>赠送</span><span class="gift-name">玫瑰</span></p>
	  	<p><span class="name">我是用户名</span><span>赠送</span><span class="gift-name">玫瑰</span></p>
	  	<p><span class="name">我是用户名</span><span>赠送</span><span class="gift-name">玫瑰</span></p>
	  </div>
	  </div>
	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.mutouch.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>