<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>搜索</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body class="xc-sreach">
	<div class="wrap home">
		<div class="sidebar">
			<a href="javascript:;" class="btn-close"><img src="img/close.png"></a>
			<ul>
				<li>
					<a href="chat.html">我的消息<span>20</span></a>
				</li>
				<li>
					<a href="follow.html">我的关注</a>
				</li>
				<li>
					<a href="personal.html">个人主页</a>
				</li>
				<li>
					<a href="history.html">历史浏览</a>
				</li>
				<li>
					<a href="feedback.html">意见反馈</a>
				</li>
				<li>
					<a href="personal-info.html">设置</a>
				</li>
				<li>
					<a href="help.html">help</a>
				</li>
			</ul>
			<div class="mask-home"></div>
			<div class="login-group">
				<a href="login.html" class="btn-login active">登入</a>
				<a href="javascript:;" class="btn-logout">退出</a>
			</div>
		</div>
	  <div class="main">
			<div class="home-warp">
				<div class="home-h1">
					<a href="javascript:;" class="btn-menu"><img src="img/menu.png" alt="菜单"></a>
					<img src="img/home-bg.png" alt="图标" class="bg">
					<a href="search.html" class="right"><img src="img/search.png" alt="搜索"></a>
				</div>
				<hr class="progress">
			</div>
		  <div class="sreach-fixed">
		  	<div class="sreach-head">
				<!--<div class="sreach-return">
					<a href="home.html"><img src="img/sreach-return.png" alt="返回"></a>
				</div>-->
				<div class="sreach-input">
					<form action="">
						<input type="text" id="sreach">
					</form>
				</div>
			</div>
			<div class="sreach-banner">
				<a href="javascript:;" class="active">ALL</a>
				<a href="javascript:;">BRAND</a>
				<a href="javascript:;">TAG</a>
				<a href="javascript:;">HOT</a>
			</div>
		  </div>
		  <div class="sreach-content">
		  	<div class="all active">
		  		<div>
		  			<a href="javascript:;"><img src="img/sreach-all-1.jpg" alt=""></a>
		  		</div>
		  		<div>
		  			<a href="javascript:;"><img src="img/sreach-all-2.jpg" alt=""></a>
		  		</div>
		  		<div>
		  			<a href="javascript:;"><img src="img/sreach-all-1.jpg" alt=""></a>
		  		</div>
		  		<!--<div class="footer">
		  			<a href="javascript;;"><img src="img/sreach-all-footer.png" alt=""></a>
		  		</div>-->
		  	</div>
		  	<div class="brand">
		  		<div class="brand-list-group">
		  			<a href="javascript:;" class="active"><img src="img/sreach-brand-1.jpg" alt=""></a>
		  			<a href="javascript:;"><img src="img/sreach-brand-1.jpg" alt=""></a>
		  			<a href="javascript:;"><img src="img/sreach-brand-1.jpg" alt=""></a>
		  			<a href="javascript:;"><img src="img/sreach-brand-1.jpg" alt=""></a>
		  			<ul>
		  			<li class="active"></li>
		  			<li></li>
		  			<li></li>
		  			<li></li>
		  			</ul>
		  		</div>
		  		<div class="brand-list">
		  			<ul>
		  				<li>
		  					<a href="javascript:;">
		  						<img src="img/brand-xne.png" alt="">
		  						<p>香奈儿</p>
		  					</a>
		  				</li>
		  				<li>
		  					<a href="javascript:;">
		  						<img src="img/brand-da.png" alt="">
		  						<p>迪奥</p>
		  					</a>
		  				</li>
		  				<li>
		  					<a href="javascript:;">
		  						<img src="img/brand-kdy.png" alt="">
		  						<p>卡地亚</p>
		  					</a>
		  				</li>
		  				<li>
		  					<a href="javascript:;">
		  						<img src="img/brand-pld.png" alt="">
		  						<p>普拉达</p>
		  					</a>
		  				</li>
		  				<li>
		  					<a href="javascript:;">
		  						<img src="img/brand-hytn.png" alt="">
		  						<p>华伦天奴</p>
		  					</a>
		  				</li>
		  				<li>
		  					<a href="javascript:;">
		  						<img src="img/brand-fsz.png" alt="">
		  						<p>范思哲</p>
		  					</a>
		  				</li>
		  				<li>
		  					<a href="javascript:;">
		  						<img src="img/brand-ams.png" alt="">
		  						<p>爱马仕</p>
		  					</a>
		  				</li>
		  				<li>
		  					<a href="javascript:;">
		  						<img src="img/brand-bbl.png" alt="">
		  						<p>博佰利</p>
		  					</a>
		  				</li>
		  				<li>
		  					<a href="javascript:;">
		  						<img src="img/brand-jfx.png" alt="">
		  						<p>纪梵希</p>
		  					</a>
		  				</li>
		  			</ul>
		  		</div>
		  	</div>
		  	<div class="tag">
		  		<div class="label">
		  			<div class="label-head">
		  				<h3>热门标签</h3>
		  				<div><a href="javascript:;">显示更多></a></div>
		  			</div>
		  			<div class="label-body">
		  				<ul>
		  					<li>
		  						<a href="javascript:;">
		  							<img src="img/tag-list-1.png" alt="">
		  							<p>今天穿什么</p>
		  							<p>#jtcsm#</p>
		  						</a>
		  					</li>
		  					<li>
		  						<a href="javascript:;">
		  							<img src="img/tag-list-1.png" alt="">
		  							<p>换季换衣</p>
		  							<p>#hjhy#</p>
		  						</a>
		  					</li>
		  					<li>
		  						<a href="javascript:;">
		  							<img src="img/tag-list-1.png" alt="">
		  							<p>时髦搭配回忆录</p>
		  							<p>#smdphy1#</p>
		  						</a>
		  					</li>
		  					<li>
		  						<a href="javascript:;">
		  							<img src="img/tag-list-1.png" alt="">
		  							<p>玩味帽控</p>
		  							<p>#wwmk#</p>
		  						</a>
		  					</li>
		  					<li>
		  						<a href="javascript:;">
		  							<img src="img/tag-list-1.png" alt="">
		  							<p>新春LOOK</p>
		  							<p>#xcLOOK#</p>
		  						</a>
		  					</li>
		  					<li>
		  						<a href="javascript:;">
		  							<img src="img/tag-list-1.png" alt="">
		  							<p>时尚运动法则</p>
		  							<p>#ssydfz#</p>
		  						</a>
		  					</li>
		  				</ul>
		  			</div>
		  		</div>
		  		<div class="tag-user">
		  			<div class="des">
		  				<img src="img/tag-user.jpg" alt="">
		  				<div class="des-cont">
		  					<h3>今天穿什么</h3>
		  					<p>#jtcsm#</p>
		  				</div>
		  				<button class="xc-btn">已关注</button>
		  			</div>
		  			<div class="brief">
		  				<div class="brief-items">
		  					<p><span>12345</span>种搭配</p>
		  					<p>穿出不一样的你</p>
		  					<p><span>1234567</span>浏览</p>
		  				</div>
		  				<div class="brief-down">
		  					<p>又是头疼的一天，穿点什么呢？</p>
		  					<p>添加热门标签<span>#jtcsm#</span>赢取你的精彩好礼</p>
		  				</div>
		  				<a href="javascript:;">查看奖品名单</a>
		  			</div>
		  		</div>
		  		<div class="show">
		  			<div class="show-head">
		  				<div class="icon">
		  					<img src="img/user-show-icon.png" alt="">
		  				</div>
		  				<div class="des">
		  					<p class="name">crystal</p>
		  					<p class="from">come from/<span>爱好</span></p>
		  				</div>
		  				<div class="time">
		  					12:30
		  				</div>
		  			</div>
		  			<div class="show-body">
		  				<p class="less">是时候该剁手了babababa bababababababaaaaaaa aaaaaaa</p>
		  				<img src="img/user-show.jpg" alt="用户">
		  				<div class="show-footer">
		  					<div class="reveal">
		  						<p>
		  							<img src="img/share-read.png" alt="浏览" class="eye"><span>123456</span>浏览
		  							<img src="img/good.png" alt="赞" class="good"><span>123456</span>赞
		  						</p>
		  						<p class="show-label"><a href="javascript:;">#biaoqian#2017.2.18</a></p>
		  					</div>
		  					<div class="add">
		  						<a href="javascript:;"><img src="img/add.png" alt=""></a>
		  					</div>
		  				</div>
		  				<div class="show-comment">
		  					<div class="comment-head">
		  						<h3>所有评论</h3>
		  						<p class="more"><a href="javascript;;">显示更多></a></p>
		  					</div>
		  					<div class="comment-body">
		  						<p><span>my style</span><span class='re-cmment'>回复</span><span>酱酱酱 :</span><span>会不会太冷</span></p>
	   							<p><span>臭大饼 :</span><span>就是佩服不怕冷的</span></p>
	   							<p><span>我是Hly</span><span class='re-cmment'>回复</span><span>DLA瞳 :</span><span>求胖子也能搭配的</span></p>
	   							<p><span>my style</span><span class='re-cmment'>回复</span><span>酱酱酱 :</span><span>会不会太冷</span></p>
	   							<p><span>Fjal :</span><span>小白很百搭</span></p>
	   							<p><span>我是Hly</span><span class='re-cmment'>回复</span><span>DLA瞳 :</span><span>求胖子也能搭配的</span></p>
	   							<p><span>我是Hly</span><span class='re-cmment'>回复</span><span>DLA瞳 :</span><span>求胖子也能搭配的</span></p>
		  					</div>
		  				</div>
		  			</div>
		  		</div>
		  		<div class="show">
		  			<div class="show-head">
		  				<div class="icon">
		  					<img src="img/user-show-icon.png" alt="">
		  				</div>
		  				<div class="des">
		  					<p class="name">crystal</p>
		  					<p class="from">come from/<span>爱好</span></p>
		  				</div>
		  				<div class="time">
		  					12:30
		  				</div>
		  			</div>
		  			<div class="show-body">
		  				<p class="less">是时候该剁手了babababa bababababababaaaaaaa aaaaaaa</p>
		  				<img src="img/user-show.jpg" alt="用户">
		  				<div class="show-footer">
		  					<div class="reveal">
		  						<p>
		  							<img src="img/share-read.png" alt="浏览" class="eye"><span>123456</span>浏览
		  							<img src="img/good.png" alt="赞" class="good"><span>123456</span>赞
		  						</p>
		  						<p class="show-label"><a href="javascript:;">#biaoqian#2017.2.18</a></p>
		  					</div>
		  					<div class="add">
		  						<a href="javascript:;"><img src="img/add.png" alt=""></a>
		  					</div>
		  				</div>
		  				<div class="show-comment">
		  					<div class="comment-head">
		  						<h3>所有评论</h3>
		  						<p class="more"><a href="javascript;;">显示更多></a></p>
		  					</div>
		  					<div class="comment-body">
		  						<p><span>my style</span><span class='re-cmment'>回复</span><span>酱酱酱 :</span><span>会不会太冷</span></p>
	   							<p><span>臭大饼 :</span><span>就是佩服不怕冷的</span></p>
	   							<p><span>我是Hly</span><span class='re-cmment'>回复</span><span>DLA瞳 :</span><span>求胖子也能搭配的</span></p>
	   							<p><span>my style</span><span class='re-cmment'>回复</span><span>酱酱酱 :</span><span>会不会太冷</span></p>
	   							<p><span>Fjal :</span><span>小白很百搭</span></p>
	   							<p><span>我是Hly</span><span class='re-cmment'>回复</span><span>DLA瞳 :</span><span>求胖子也能搭配的</span></p>
	   							<p><span>我是Hly</span><span class='re-cmment'>回复</span><span>DLA瞳 :</span><span>求胖子也能搭配的</span></p>
		  					</div>
		  				</div>
		  			</div>
		  		</div>
		  	</div>
		  	<div class="hot">
		  	 	<div class="brand-2">
			  		<div class="brand-list-group">
			  			<a href="javascript:;" class="active"><img src="img/hot-1.png" alt=""></a>
			  			<a href="javascript:;"><img src="img/hot-1.png" alt=""></a>
			  			<a href="javascript:;"><img src="img/hot-1.png" alt=""></a>
			  			<a href="javascript:;"><img src="img/hot-1.png" alt=""></a>
			  			<ul>
			  				<li class="active"></li>
			  				<li></li>
			  				<li></li>
			  				<li></li>
			  			</ul>
			  		</div>
		  		</div>
		  		<div class="hot-list">
		  			<ul>
		  				<li>
		  					<a href="javascript:;"><img src="img/hot-list-1.png" alt=""></a>
		  				</li>
		  				<li>
		  					<a href="javascript:;"><img src="img/hot-list-2.png" alt=""></a>
		  				</li>
		  				<li>
		  					<a href="javascript:;"><img src="img/hot-list-3.png" alt=""></a>
		  				</li>
		  				<li>
		  					<a href="javascript:;"><img src="img/hot-list-4.png" alt=""></a>
		  				</li>
		  			</ul>
		  		</div>
		  		<div class="tag">
		  			<div class="show">
		  				<div class="show-head">
		  				<div class="icon">
		  					<img src="img/user-show-icon.png" alt="">
		  				</div>
		  				<div class="des">
		  					<p class="name">crystal</p>
		  					<p class="from">come from/<span>爱好</span></p>
		  				</div>
		  				<div class="time">
		  					12:30
		  				</div>
		  			</div>
		  			</div>
		  		</div>
		  	</div>
		  </div>
	  </div>
	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.mutouch.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>