<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>sreach-history</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body class="sreach-history">
	<div class="wrap">
	  <div class="main">
		<div class="sreach-his-head">
			<div class="sreach-head">
				<div class="sreach-input">
					<form action="">
						<input type="text" id="sreach">
					</form>
				</div>
				<div class="sreach-no">
					<a href="javascript:;">取消</a>
				</div>
			</div>
			<div class="history-hot">
				<h3>
					热门搜索
				</h3>
				<div class="history-hot-body">
					<a href="javascript:;">黑白</a>
					<a href="javascript:;">混搭</a>
					<a href="javascript:;">短靴</a>
					<a href="javascript:;">宴会</a>
					<a href="javascript:;">短裙</a>
					<a href="javascript:;">古怪</a>
					<a href="javascript:;">用户</a>
					<a href="javascript:;">用户</a>
					<a href="javascript:;">用户</a>
					<a href="javascript:;">用户</a>
				</div>
			</div>
		</div>
		<div class="history-body">
			<h3>历史浏览</h3>
			<ul>
				<li>
					<p>黑白条纹怎么搭配<a href="javascript:;">删除</a></p>
				</li>
				<li>
					<p>黑白条纹怎么搭配<a href="javascript:;">删除</a></p>
				</li>
				<li>
					<p>黑白条纹怎么搭配<a href="javascript:;">删除</a></p>
				</li>
				<li>
					<p>黑白条纹怎么搭配<a href="javascript:;">删除</a></p>
				</li>
				<li>
					<p>黑白条纹怎么搭配<a href="javascript:;">删除</a></p>
				</li>
				<li>
					<p>黑白条纹怎么搭配<a href="javascript:;">删除</a></p>
				</li>
			</ul>
		</div>
	  </div>
	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.mutouch.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>