<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>评论</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body class="share share-comment">
	<div class="wrap">
	  <div class="main">
	   <div class="header">
	   	评&nbsp;&nbsp;&nbsp;&nbsp;论
	   	<a href="javascript:;" class="return"><img src="img/share-left.png" alt="返回"></a>
	   </div>
	   <div class="content">
	   	<ul>
	   	 <li>
	   	 	<div class="head">
	   	 	 <a href="javascript:;">
	   	 	  <img src="img/user.png" alt="头像">
	   	 	  <span>用户名</span>
	   	 	 </a>
	   	 	 <p>2017/3/2 12:00</p>
	   	 	</div>
	   	 	<div class="body">
	   	 	 <p>沙发沙发</p>
	   	 	</div>
	   	 </li>
	   	 <li>
	   	 	<div class="head">
	   	 	 <a href="javascript:;">
	   	 	  <img src="img/user.png" alt="头像">
	   	 	  <span>用户名</span>
	   	 	 </a>
	   	 	 <p>2017/3/2 12:00</p>
	   	 	</div>
	   	 	<div class="body">
	   	 	 <p>two</p>
	   	 	</div>
	   	 </li>
	   	 <li>
	   	 	<div class="head">
	   	 	 <a href="javascript:;">
	   	 	  <img src="img/user.png" alt="头像">
	   	 	  <span>用户名</span>
	   	 	 </a>
	   	 	 <p>2017/3/2 12:00</p>
	   	 	</div>
	   	 	<div class="body">
	   	 	 <p>回复<span>酱酱酱 :</span>three</p>
	   	 	</div>
	   	 </li>
	   	 <li>
	   	 	<div class="head">
	   	 	 <a href="javascript:;">
	   	 	  <img src="img/user.png" alt="头像">
	   	 	  <span>用户名</span>
	   	 	 </a>
	   	 	 <p>2017/3/2 12:00</p>
	   	 	</div>
	   	 	<div class="body">
	   	 	 <p>4</p>
	   	 	</div>
	   	 </li>
	   	 <li>
	   	 	<div class="head">
	   	 	 <a href="javascript:;">
	   	 	  <img src="img/user.png" alt="头像">
	   	 	  <span>用户名</span>
	   	 	 </a>
	   	 	 <p>2017/3/2 12:00</p>
	   	 	</div>
	   	 	<div class="body">
	   	 	 <p>5</p>
	   	 	</div>
	   	 </li>
	   	 <li>
	   	 	<div class="head">
	   	 	 <a href="javascript:;">
	   	 	  <img src="img/user.png" alt="头像">
	   	 	  <span>用户名</span>
	   	 	 </a>
	   	 	 <p>2017/3/2 12:00</p>
	   	 	</div>
	   	 	<div class="body">
	   	 	 <p>6</p>
	   	 	</div>
	   	 </li>
	   	 <li>
	   	 	<div class="head">
	   	 	 <a href="javascript:;">
	   	 	  <img src="img/user.png" alt="头像">
	   	 	  <span>用户名</span>
	   	 	 </a>
	   	 	 <p>2017/3/2 12:00</p>
	   	 	</div>
	   	 	<div class="body">
	   	 	 <p>7</p>
	   	 	</div>
	   	 </li>
	   	</ul>
			<div class="comment-send">
				<input type="text">
				<a href="javascript:;">评论</a>
				<!--<img src="img/sc_icon.png">-->
			</div>
	   </div>
	  </div>
	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.mutouch.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>