<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>登陆2</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body class="sign-in">
	<div class="bottom">
	   	<a href="javascript:;"><img src="img/homebg.png" alt="主页"></a>
	</div>
	<div class="wrap">
	  <div class="main">
	   <div class="header">
	   	<a href="javascript:;" class="return">
	   		<img src="img/sign-left.png" alt="返回">
	   	</a>
	   	<img src="img/home-bg.png" class="img" alt="图标">
	   	<a href="javascript:;" class="search">
	   		<img src="img/sign-search.png" alt="搜索">
	   	</a>
	   </div>
	   <div class="interest">
	   	<h3>请选择刚兴趣的</h3>
	   	<ul>
	   	 <li>
	   	  <a href="javascript:;">
	   	   <img src="img/chineseStyle.png" alt="中国风">
	   	   中国风
	   	  </a>
	   	 </li>
	   	 <li>
	   	  <a href="javascript:;">
	   	   <img src="img/xvdieo.png" alt="欧美风">
	   	   欧美风
	   	  </a>
	   	 </li>
	   	 <li>
	   	  <a href="javascript:;">
	   	   <img src="img/prettyss.png" alt="韩系">
	   	   韩系
	   	  </a>
	   	 </li>
	   	 <li>
	   	  <a href="javascript:;">
	   	   <img src="img/japanese.png" alt="日系">
	   	   日系
	   	  </a>
	   	 </li>
	   	 <li>
	   	  <a href="javascript:;">
	   	   <img src="img/retro.png" alt="复古">
	   	   复古
	   	  </a>
	   	 </li>
	   	 <li>
	   	  <a href="javascript:;">
	   	   <img src="img/galant.png" alt="华丽">
	   	   华丽
	   	  </a>
	   	 </li>
	   	 <li>
	   	  <a href="javascript:;">
	   	   <img src="img/mashup.png" alt="混搭">
	   	   混搭
	   	  </a>
	   	 </li>
	   	 <li>
	   	  <a href="javascript:;">
	   	   <img src="img/minimal.png" alt="极简">
	   	   极简
	   	  </a>
	   	 </li>
	   	 <li>
	   	  <a href="javascript:;">
	   	   <img src="img/street.png" alt="街头">
	   	   街头
	   	  </a>
	   	 </li>
	   	 <li>
	   	  <a href="javascript:;">
	   	   <img src="img/neutral.png" alt="中性">
	   	   中性
	   	  </a>
	   	 </li>
	   	 <li>
	   	  <a href="javascript:;">
	   	   <img src="img/work.png" alt="职场">
	   	   职场
	   	  </a>
	   	 </li>
	   	</ul>
	   </div>
	  </div>
	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>