<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>上传说明</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body class="sign-in upload">
	<div class="wrap">
	  <div class="main">
	  <div class="header no">
	   	<a href="javascript:;" class="return">
	   		<img src="img/sign-left.png" alt="返回">
	   	</a>
	   	<img src="img/home-bg.png" class="img" alt="图标">
	   	<a href="javascript:;" class="search and">
	   		上传
	   	</a>
	  </div>
	  <div class="upload-img"><img src="img/upload-1.jpg" alt=""></div>
	  <div class="upload-content">
	  	<h3>1.这样的照片容易上榜哦</h3>
	  	<p>a.高质量的正面全身搭配照，图片清晰，背景干净</p>
	  	<p>b.品牌标签完整并添加购买地址，粉丝们会更爱你</p>
	  	<div>
	  		<img src="img/upload-2.jpg" alt="">
	  	</div>
	  	<h3>2.这样的照片不容易上榜</h3>
	  	<div>
	  		<img src="img/upload-3.png" alt="">
	  	</div>
	  	<p>不完整的搭配图，图片轿   没有突出搭配，人像较远 暗，背景轿凌乱</p>
	  	<h3>3.这样更容易被官方精选</h3>

	  	<p>a.分享搭配心得，会给粉丝带来便利，获得更多关注</p>
	  	<div >
	  		<img src="img/upload-4.jpg" alt="">
	  	</div>
	  	<p>b.发布搭配时添加相关热门标签，会入选精选推荐， 获得更多曝光</p>
	  	<div >
	  		<img src="img/upload-5.jpg" alt="">
	  	</div>
	  </div>
	</div>
	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.mutouch.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>