    <footer class="bg-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4><i class="fa fa-gittip"></i> 致谢</h4>
            <div class="">
              <img class="img-responsive center-block logo-max-w" src="img/logo-all.png" alt="bingblue">
              <ul class="power-ul">
                <li>
                  <span class="powered">Created by:</span>
                  <a href="#" class="val" data-toggle="tooltip" data-placement="top" title="QQ:895355044"><i class="fa fa-at"></i> 小牧COOL</a>
                </li>
                <li>
                  <span class="powered">Logo by:</span>
                  <a href="#" class="val" data-toggle="tooltip" data-placement="top" title="QQ:111111111"><i class="fa fa-user"></i> 小色</a>
                   & 
                  <a href="#" class="val" data-toggle="tooltip" data-placement="top" title="QQ:111111111"><i class="fa fa-user"></i> 大脚</a>
                </li>
                <li>
                  <span class="powered">Designed by:</span>
                  <a href="#" class="val" data-toggle="tooltip" data-placement="top" title="QQ:111111111"><i class="fa fa-twitter"></i> Bootstrap</a>
                </li>
                <li>
                  <span class="powered">Discussed by:</span>
                  <a href="#" class="val" data-toggle="tooltip" data-placement="top" title="QQ群:206683621"><i class="fa fa-qq"></i> 206683621</a>
                </li>
                <li>
                  <span class="powered">Issues by:</span>
                  <a href="#" class="val" data-toggle="tooltip" data-placement="top" title="GitHub Project"><i class="fa fa-github"></i> GitHub</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <h4><i class="fa fa-rocket"></i> 技术 & 贡献</h4>
            <div class="">
              <div class="support-ul">
                <a href="#" data-toggle="tooltip" title="GitHub Project"><i class="fa fa-user"></i> 小牧COOL</a>
                <a href="#" data-toggle="tooltip" title="GitHub Project"><i class="fa fa-at"></i> Zing</a>
                <a href="#" data-toggle="tooltip" title="GitHub Project"><i class="fa fa-user"></i> 小色</a>
                <a href="#" data-toggle="tooltip" title="GitHub Project"><i class="fa fa-user"></i> 大脚</a>
                <a href="#" data-toggle="tooltip" title="GitHub Project"><i class="fa fa-user"></i> 大脚</a>
                <a href="#" data-toggle="tooltip" title="GitHub Project"><i class="fa fa-tag"></i> Nodejs</a>
                <a href="#" data-toggle="tooltip" title="GitHub Project"><i class="fa fa-tag"></i> MongoDB</a>
                <a href="#" data-toggle="tooltip" title="GitHub Project"><i class="fa fa-html5"></i> HTML5</a>
                <a href="#" data-toggle="tooltip" title="GitHub Project"><i class="fa fa-css3"></i> CSS3</a>
                <a href="#" data-toggle="tooltip" title="GitHub Project"><i class="fa fa-tag"></i> JQuery</a>
                <a href="#" data-toggle="tooltip" title="GitHub Project"><i class="fa fa-twitter"></i> Bootstrap</a>
                <a href="#" data-toggle="tooltip" title="GitHub Project"><i class="fa fa-git-square"></i> git</a>
                <a href="#" data-toggle="tooltip" title="GitHub Project"><i class="fa fa-github-alt"></i> GitHub</a>
                <a href="#" data-toggle="tooltip" title="GitHub Project"><i class="fa fa-tag"></i> Express</a>
                <a href="#" data-toggle="tooltip" title="GitHub Project"><i class="fa fa-steam"></i> Steam</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4><i class="fa fa-navicon"></i> 导航</h4>
            <div class="">
              <nav class="nav-ul">
                <a href="#">首页</a>
                <a href="#">人才市场</a>
                <a href="#">人才市场</a>
                <a href="#">人才市场</a>
                <a href="#">返回顶部</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-bottom2">
        <div class="container">
          <!-- 版权说明 -->
          <p class="footer-copyright">
            <span class="unline">
              Copyright &copy; 2015 &middot; 
              <a href="#" >
                <abbr data-toggle="tooltip" data-placement="top" title="还没有成立呢~亲。" class="abbr_no">冰蓝科技</abbr>
              </a>
               , Inc. 
            </span>
            <span class="unline">
              All Rights Reserved &middot; <b class="powered"> Powered by : </b>
              <abbr data-toggle="tooltip" data-placement="top" title="QQ：895355044" class="me">小牧COOL</abbr>
            </span> 
          </p>
          <!-- 版权说明END -->
          <div>
            <script src="http://s13.cnzz.com/stat.php?id=4861395&web_id=4861395&show=pic" language="JavaScript"></script>
            &nbsp;&nbsp;<i class="fa fa-qq"></i><span>&nbsp;QQ群：206683621</span>
          </div>
        </div>
      </div>
    </footer>
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.1.js"><\/script>')</script>
    <script src="../js/plugins.js"></script>
    <script src="../js/main.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>