    <footer>
      <hr>
      <div class="container">
        <!-- 版权说明 -->
        <p class="footer-copyright">
          <span class="unline">
            Copyright &copy; 2015 &middot; 
            <a href="#" >
              <abbr data-toggle="tooltip" data-placement="top" title="还没有成立呢~亲。" class="abbr_no">冰蓝科技</abbr>
            </a>
             , Inc. 
          </span>
          <span class="unline">
            All Rights Reserved &middot; <b class="powered"> Powered by : </b>
            <abbr  data-toggle="tooltip" data-placement="top" title="QQ：895355044" class="me">小牧COOL</abbr>
          </span> 
        </p>
        <!-- 版权说明END -->
        <div>
          <img class="img-responsive btm-sm-logo" src="/img/logo-all.png" alt="bingblue">
          <span class="unline">
            <span class="unline"><i class="fa fa-qq"></i>&nbsp;QQ群：206683621&nbsp;&nbsp;</span>
            <script src="http://s13.cnzz.com/stat.php?id=4861395&web_id=4861395&show=pic" language="JavaScript"></script>
          </span>
        </div>
      </div>
    </footer>
  </body>
</html>