<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="keywords" content="bingblue、冰蓝、冰蓝科技、群官网、nodejs">
    <meta name="description" content="冰蓝科技 - 中国最炫、最潮流的科技网站，我们追寻最前沿的技术、展现最炫酷的效果，让你感受科技无可抵挡的魅力！">
    <meta name="author" contect="小牧COOL">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.3.0/animate.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!--[if lt IE 9]>
      <p class="browsehappy">你正在使用 <strong>过时</strong> 的浏览器. 请 <a href="http://browsehappy.com/">更新你的游览器</a> 来更好的体验我们的网站.</p>
    <![endif]-->