<% include header.ejs %>
<% include navbar.ejs %>
  <img style="max-width:100%;width:100%;" src="img/jianshe.png">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if (success) { %>
        <div style="margin-top:10px;" class="alert alert-success in fade" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= success %>
        </div>
      <% } else if(error){%>
        <div style="margin-top:10px;" class="alert alert-danger in fade" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= error %>
        </div>
      <% } %>
      
    </div>
  </div>
</div>
<% include footer_all.ejs %>