<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<meta name="Keywords" content="点点客微伙伴、微信营销、微信代运营、微信定制开发、微网站、微营销">
<meta name="Description" content="点点客微伙伴，国内最大的微信公众智能服务平台，点点客微伙伴十大功能体系。">

<!-- 移动设备支持 -->
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<link href="css/hiteggs.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="wrap">
  <div class="main">
    <img src="images/p1-bg.jpg">
    <img class="custom-logo" src="images/logo.jpg">
    <a class="btn-start jq-start" href="02.html"></a>
    <a class="btn-myprice jq-myprice" href="javascript:void(0);">我已领到的奖品3</a>
    <a class="btn-rule jq-rule" href="javascript:void(0);">游戏规则</a>
  </div>
  <img src="images/ad.jpg">
  <div class="mask-rule jq-mask">
    <div class="cont">
      <h2>活动规则</h2>
      <span>1、活动期间参加3次。1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。</span>
      <span>1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。</span>
      <span>1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。1、活动期间。单个手机用户最多只能参加3次。</span>
      <span>3、活动期间。单个手机用户最多只能参加3次。</span>
    </div>
    <a class="btn-back jq-close" href="javascript:void(0);">返回</a>
  </div>
  <div class="mask-msg-bd jq-mask" style="display:block;">
    <div class="pos">
      <h1>很抱歉，活动已暂停!</h1>
      <a class="btn-ok jq-close" style="margin-left: 10%;" href="javascript:void(0);">返回</a>
      <a class="btn-ok jq-share" style="margin-left: 10%;" href="javascript:void(0);">分享</a>
    </div>
  </div>
  <div class="mask-msg-bd jq-mask" style="display:;">
    <div class="pos">
      <h1>很抱歉，<br>您的次数已用完！</h1>
      <a class="btn-ok jq-close" href="javascript:void(0);">返回</a>
    </div>
  </div>
  <div class="mask-msg-bd jq-mask" style="display:;">
    <div class="pos">
      <h1 style="color:#ba8449;">恭喜您，中奖了！</h1>
      <a class="btn-ok jq-close" href="javascript:void(0);">立即领取</a>
    </div>
  </div>
  <div class="mask-msg-info jq-mask" style="display:;">
    <div class="pos">
      <h1>填写信息</h1>
      <div class="mask-row">
        <img src="images/icon-name.jpg">
        <input type="text" placeholder="姓名">
      </div>
      <div class="mask-row">
        <img src="images/icon-phone.jpg">
        <input type="tel" placeholder="手机号">
      </div>
      <a class="btn-cancel jq-close" href="javascript:void(0);">取消</a>
      <a class="btn-ok jq-close" href="javascript:void(0);">提交</a>
    </div>
  </div>
  <div class="mask-msg-code jq-mask" style="display:;">
    <div class="pos">
      <h1>请记录您的中奖码</h1>
      <h2>**********************</h2>
      <a class="btn-ok jq-close" href="javascript:void(0);">确认</a>
    </div>
  </div>
  <div class="mask-prize jq-mask" style="display:;">
    <img src="images/mask-prize-bg.jpg">
    <div class="pos">
      <ul class="prize-cont">
        <li>
          <div class="prize-pic"><img src="images/prize.jpg"></div>
          <div class="prize-name">iphone6</div>
          <div class="prize-code">**********</div>
        </li>
        <li>
          <div class="prize-pic"><img src="images/prize.jpg"></div>
          <div class="prize-name">iphone6</div>
          <div class="prize-code">**********</div>
        </li>
        <li>
          <div class="prize-pic"><img src="images/prize.jpg"></div>
          <div class="prize-name">iphone6</div>
          <div class="prize-code">**********</div>
        </li>
      </ul>
      <a class="btn-ok jq-close" href="javascript:void(0);"></a>
    </div>
  </div>
  <div class="mask-msg-picprize jq-mask" style="display:;">
    <div class="pos">
      <h1>恭喜您获得了</h1>
      <img src="images/prize.jpg">
      <h2>iphone6</h2>
      <h1>请记录您的中奖码</h1>
      <h3>*********</h3>
      <a class="btn-ok jq-close" href="javascript:void(0);">确认</a>
    </div>
  </div>
  <div class="mask-invite jq-mask jq-close" style="display:block;">
    <img src="images/bm.png">
  </div>
</div>
<script src="js/jquery-1.8.2.min.js"></script>
<script src="js/hiteggs.js"></script>
<!-- <a href="#" onclick="location.reload(true);">刷新</a> -->
</body>
</html>
