<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<meta name="Keywords" content="点点客微伙伴、微信营销、微信代运营、微信定制开发、微网站、微营销">
<meta name="Description" content="点点客微伙伴，国内最大的微信公众智能服务平台，点点客微伙伴十大功能体系。">

<!-- 移动设备支持 -->
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<link href="dest/hiteggs.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="wrap">
  <div class="main">
    <img src="images/mask-prize-bg.jpg">
  </div>
  <img src="images/ad.jpg">
  <div class="mask-prize jq-mask" style="display:block;">
    <img src="images/mask-prize-bg.jpg">
    <div class="pos">
      <ul class="prize-cont" style="overflow: auto;">
        <li>
          <div class="prize-pic"><img src="images/prize.jpg"></div>
          <div class="prize-name">iphone6</div>
          <div class="prize-code">**********</div>
        </li>
        <li>
          <div class="prize-pic"><img src="images/prize.jpg"></div>
          <div class="prize-name">iphone6</div>
          <div class="prize-code">**********</div>
        </li>
        <li>
          <div class="prize-pic"><img src="images/prize.jpg"></div>
          <div class="prize-name">iphone6</div>
          <div class="prize-code">**********</div>
        </li>
        <li>
          <div class="prize-pic"><img src="images/prize.jpg"></div>
          <div class="prize-name">iphone6</div>
          <div class="prize-code">**********</div>
        </li>
      </ul>
      <a class="btn-ok" href="#"></a>
    </div>
  </div>
</div>
<script src="dest/jquery-1.8.2.min.js"></script>
<script src="dest/hiteggs.js"></script>
</body>
</html>
