* { margin: 0; outline: 0; padding: 0; font-size: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
a { text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.35); }
html { height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; padding: 0; width: 100%; height: 100%; min-height: 100%; font-family: "微软雅黑", "黑体", Arial, Helvetica, sans-serif; font-size: 62.5%; line-height: 1.231; -webkit-touch-callout: none; display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-align: stretch; position: relative; }
img { -ms-interpolation-mode: bicubic; vertical-align: middle; border: 0 none;max-width: 100%;height: auto;width: auto\9; /* ie8 */}
img:not([src*="/"]) { display: none; }
table { border-collapse: collapse; border-spacing: 0; width: 100%; }
th, td, caption { vertical-align: middle; }
textarea { resize: none; border: 0; padding: 8px 0; border-radius: 0;}
ul,li { list-style: none; margin:0; padding:0; }
h1,h2,h3,h4,h5,h6 {margin:0; padding:0; font-weight:normal;}
.clr:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clr{zoom:1;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust: none;}



@charset "UTF-8";
.btn-start, .mask-rule .btn-back, .btn-myprice, .btn-rule, .mask-msg .btn-invite, .mask-msg .btn-back, .mask-msg-no .btn-invite, .mask-msg-no .btn-again, .mask-msg-yes .btn-invite, .mask-msg-yes .btn-again, .mask-msg-bd .btn-invite, .mask-msg-bd .btn-again, .mask-msg-bd .btn-ok, .mask-msg-info .btn-invite, .mask-msg-info .btn-again, .mask-msg-code .btn-invite, .mask-msg-code .btn-again, .mask-prize .btn-invite, .mask-prize .btn-again, .mask-msg-picprize .btn-invite, .mask-msg-picprize .btn-again, .mask-msg-info .btn-cancel, .mask-msg-info .btn-ok, .mask-msg-code .btn-ok, .mask-msg-picprize .btn-ok, .mask-prize .btn-ok, .btn-over-back {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 60%;
  height: 12%;
  margin-left: 20%;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  color: #fff; }

.mask-rule, .mask-msg, .mask-invite, .mask-msg-no, .mask-msg-yes, .mask-msg-bd, .mask-msg-info, .mask-msg-code, .mask-prize, .mask-msg-picprize {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  display: none; }

.pos, .mask-invite img, .egg-box, .egg-box .egg-items .egg-item .hammer {
  position: absolute;
  top: 0;
  width: auto;
  height: auto; }

.wrap {
  min-width: 320px;
  max-width: 640px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
  background: #8F6628; }

.wrap-color {
  background: #38260c; }

.main {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }

.btn-start, .mask-rule .btn-back {
  width: 60%;
  height: 12%;
  top: 71%; }

.btn-myprice {
  width: 37%;
  height: 5%;
  top: 84%;
  color: #fff7bf;
  text-decoration: underline;
  font-size: 16px;
  margin-left: 32%; }

.btn-rule {
  width: 37%;
  height: 5%;
  top: 89%;
  color: #fff7bf;
  text-decoration: underline;
  font-size: 16px;
  margin-left: 32%; }

.mask-rule .cont {
  width: 90%;
  max-height: 50%;
  margin-top: 20%;
  margin-bottom: 30%;
  padding: 0 5%;
  overflow: auto;
  color: #fff; }
  .mask-rule .cont h2 {
    font-size: 14px; }
  .mask-rule .cont span {
    display: block;
    margin-top: 15px;
    font-size: 12px; }
.mask-rule .btn-back {
  top: 83%;
  height: auto;
  padding: 4% 0;
  background: #e1a752; }

.mask-msg .btn-invite, .mask-msg .mask-msg-no .btn-again, .mask-msg-no .mask-msg .btn-again, .mask-msg .mask-msg-yes .btn-again, .mask-msg-yes .mask-msg .btn-again, .mask-msg .mask-msg-bd .btn-again, .mask-msg-bd .mask-msg .btn-again, .mask-msg .mask-msg-info .btn-again, .mask-msg-info .mask-msg .btn-again, .mask-msg .mask-msg-code .btn-again, .mask-msg-code .mask-msg .btn-again, .mask-msg .mask-prize .btn-again, .mask-prize .mask-msg .btn-again, .mask-msg .mask-msg-picprize .btn-again, .mask-msg-picprize .mask-msg .btn-again, .mask-msg .mask-msg-bd .btn-ok, .mask-msg-bd .mask-msg .btn-ok {
  width: 33%;
  height: 9%;
  top: 53%;
  margin-left: 17%; }
.mask-msg .btn-back {
  width: 28%;
  height: 9%;
  top: 53%;
  margin-left: 55%; }

.mask-invite img {
  right: 5%;
  top: 20px;
  width: 95%; }

.mask-msg-no .pos, .mask-msg-no .mask-invite img, .mask-invite .mask-msg-no img, .mask-msg-no .egg-box, .mask-msg-no .egg-box .egg-items .egg-item .hammer, .egg-box .egg-items .egg-item .mask-msg-no .hammer, .mask-msg-yes .pos, .mask-msg-yes .mask-invite img, .mask-invite .mask-msg-yes img, .mask-msg-yes .egg-box, .mask-msg-yes .egg-box .egg-items .egg-item .hammer, .egg-box .egg-items .egg-item .mask-msg-yes .hammer, .mask-msg-bd .pos, .mask-msg-bd .mask-invite img, .mask-invite .mask-msg-bd img, .mask-msg-bd .egg-box, .mask-msg-bd .egg-box .egg-items .egg-item .hammer, .egg-box .egg-items .egg-item .mask-msg-bd .hammer, .mask-msg-info .pos, .mask-msg-info .mask-invite img, .mask-invite .mask-msg-info img, .mask-msg-info .egg-box, .mask-msg-info .egg-box .egg-items .egg-item .hammer, .egg-box .egg-items .egg-item .mask-msg-info .hammer, .mask-msg-code .pos, .mask-msg-code .mask-invite img, .mask-invite .mask-msg-code img, .mask-msg-code .egg-box, .mask-msg-code .egg-box .egg-items .egg-item .hammer, .egg-box .egg-items .egg-item .mask-msg-code .hammer, .mask-prize .pos, .mask-prize .mask-invite img, .mask-invite .mask-prize img, .mask-prize .egg-box, .mask-prize .egg-box .egg-items .egg-item .hammer, .egg-box .egg-items .egg-item .mask-prize .hammer, .mask-msg-picprize .pos, .mask-msg-picprize .mask-invite img, .mask-invite .mask-msg-picprize img, .mask-msg-picprize .egg-box, .mask-msg-picprize .egg-box .egg-items .egg-item .hammer, .egg-box .egg-items .egg-item .mask-msg-picprize .hammer {
  width: 80%;
  margin-left: 10%;
  background: #fff;
  border-radius: 5px;
  padding: 5% 0;
  margin-top: 30%; }
.mask-msg-no h1, .mask-msg-no .mask-msg-yes h2, .mask-msg-yes .mask-msg-no h2, .mask-msg-yes h1, .mask-msg-yes h2, .mask-msg-bd h1, .mask-msg-bd .mask-msg-yes h2, .mask-msg-yes .mask-msg-bd h2, .mask-msg-info h1, .mask-msg-info .mask-msg-yes h2, .mask-msg-yes .mask-msg-info h2, .mask-msg-code h1, .mask-msg-code .mask-msg-yes h2, .mask-msg-yes .mask-msg-code h2, .mask-prize h1, .mask-prize .mask-msg-yes h2, .mask-msg-yes .mask-prize h2, .mask-msg-picprize h1, .mask-msg-picprize .mask-msg-yes h2, .mask-msg-yes .mask-msg-picprize h2 {
  font-size: 22px;
  font-weight: 800;
  width: 90%;
  padding: 2% 5%;
  text-align: center;
  color: #603713; }
.mask-msg-no .btn-invite, .mask-msg-no .btn-again, .mask-msg-no .mask-msg-bd .btn-ok, .mask-msg-bd .mask-msg-no .btn-ok, .mask-msg-yes .btn-invite, .mask-msg-yes .btn-again, .mask-msg-yes .mask-msg-bd .btn-ok, .mask-msg-bd .mask-msg-yes .btn-ok, .mask-msg-bd .btn-invite, .mask-msg-bd .btn-again, .mask-msg-bd .btn-ok, .mask-msg-info .btn-invite, .mask-msg-info .btn-again, .mask-msg-info .mask-msg-bd .btn-ok, .mask-msg-bd .mask-msg-info .btn-ok, .mask-msg-code .btn-invite, .mask-msg-code .btn-again, .mask-msg-code .mask-msg-bd .btn-ok, .mask-msg-bd .mask-msg-code .btn-ok, .mask-prize .btn-invite, .mask-prize .btn-again, .mask-prize .mask-msg-bd .btn-ok, .mask-msg-bd .mask-prize .btn-ok, .mask-msg-picprize .btn-invite, .mask-msg-picprize .btn-again, .mask-msg-picprize .mask-msg-bd .btn-ok, .mask-msg-bd .mask-msg-picprize .btn-ok {
  position: relative;
  display: inline-block;
  width: 35%;
  height: 9%;
  margin-left: 10%;
  margin-top: 5%;
  padding: 10px 0;
  background: #ef5d41; }
.mask-msg-no .btn-again, .mask-msg-yes .btn-again, .mask-msg-bd .btn-again, .mask-msg-info .btn-again, .mask-msg-code .btn-again, .mask-prize .btn-again, .mask-msg-picprize .btn-again {
  margin-left: 8%;
  background: #ffa200; }

.mask-msg-yes h2 {
  color: #ef5d41;
  font-size: 25px; }

.mask-msg-bd .btn-ok {
  margin-left: 32%;
  background: #ffa200; }

.mask-msg-info h1, .mask-msg-info .mask-msg-yes h2, .mask-msg-yes .mask-msg-info h2 {
  color: #ba8449;
  margin-bottom: 10px; }
.mask-msg-info .mask-row {
  background: #eef0f4;
  height: 31px;
  margin-left: 10%;
  width: 80%;
  margin-bottom: 15px; }
  .mask-msg-info .mask-row img {
    width: 30px;
    margin-right: 5px; }
  .mask-msg-info .mask-row input {
    border: 0;
    display: inline-block;
    width: 80%;
    background: #eef0f4;
    height: 30px; }
.mask-msg-info .btn-cancel, .mask-msg-info .btn-ok {
  position: relative;
  margin-left: 10%;
  padding: 6px 0;
  width: 37%;
  background: #c2c2c2; }
.mask-msg-info .btn-ok {
  margin-left: 4%;
  background: #f0a723; }

.mask-msg-code h1, .mask-msg-code .mask-msg-yes h2, .mask-msg-yes .mask-msg-code h2 {
  color: #ba8449;
  margin-bottom: 10px; }
.mask-msg-code h2 {
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0;
  margin-top: -10px;
  color: #c3c3c3;
  font-size: 16px; }
.mask-msg-code .btn-ok {
  position: relative;
  width: 80%;
  margin-left: 10%;
  padding: 10px 0;
  background: #f0a723; }

.mask-msg-picprize h1, .mask-msg-picprize .mask-msg-yes h2, .mask-msg-yes .mask-msg-picprize h2 {
  color: #333; }
.mask-msg-picprize img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin: 0 auto;
  display: block; }
.mask-msg-picprize h2 {
  font-size: 12px;
  text-align: center;
  display: block;
  color: #a0a0a0;
  padding: 5px 0; }
.mask-msg-picprize h3 {
  width: 80%;
  margin-left: 10%;
  background: #eef0f4;
  border: 1px solid #c5c5c5;
  color: #c5c5c5;
  padding: 10px 0;
  text-align: center;
  font-size: 14px; }
.mask-msg-picprize .btn-ok {
  position: relative;
  width: 80%;
  margin-left: 10%;
  padding: 10px 0;
  background: #f0a723;
  margin-top: 20px; }

.mask-prize {
  width: auto;
  height: auto;
  background: none; }
  .mask-prize .pos, .mask-prize .mask-invite img, .mask-invite .mask-prize img, .mask-prize .egg-box, .mask-prize .egg-box .egg-items .egg-item .hammer, .egg-box .egg-items .egg-item .mask-prize .hammer {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    background: none; }
  .mask-prize .prize-cont {
    display: block;
    margin-top: 64%;
    margin-left: 6%;
    width: 87%;
    height: 40%; }
    .mask-prize .prize-cont li {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      float: left; }
    .mask-prize .prize-cont .prize-pic {
      width: 25%;
      float: left;
      text-align: center; }
      .mask-prize .prize-cont .prize-pic img {
        height: 50px;
        width: 50px;
        margin: 0 auto; }
    .mask-prize .prize-cont .prize-name, .mask-prize .prize-cont .prize-code {
      font-size: 12px;
      padding: 15px 0;
      width: 38%;
      float: left;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #784208; }
    .mask-prize .prize-cont .prize-code {
      width: 37%; }
  .mask-prize .btn-ok {
    top: 82%;
    left: 12%;
    height: 8%;
    width: 36%; }

.custom-logo {
  position: absolute;
  width: 13.2%;
  height: 8.8%;
  top: 3.6%;
  left: 70%;
  border-radius: 50%;
  z-index: 99; }

/* page 2 */
.egg-box {
  width: 100%;
  height: 28%;
  top: 36%;
  overflow: hidden; }
  .egg-box .egg-items {
    width: 400%;
    height: 100%; }
    .egg-box .egg-items .egg-item {
      position: relative;
      width: 8.3%;
      height: 100%;
      float: left; }
      .egg-box .egg-items .egg-item img {
        width: 100%;
        margin-left: 0%; }
      .egg-box .egg-items .egg-item .egg-num {
        color: #8F6628;
        position: absolute;
        top: 35%;
        display: block;
        text-align: center;
        font-size: 18px;
        width: 100%; }
      .egg-box .egg-items .egg-item .hammer {
        width: 52%;
        left: 50%;
        top: 0%; }

/* page 3 */
.over-info {
  position: absolute;
  width: 83%;
  height: 14%;
  top: 78%;
  left: 8%;
  color: #f1e9a1;
  overflow: auto; }

.btn-over-back {
  width: 32%;
  height: 8%;
  top: 58%;
  left: 14%; }

.ani-hammer {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-name: 'an-swing';
  /*动画属性名，也就是我们前面keyframes定义的动画名*/
  -webkit-animation-duration: 0.1s;
  /*动画持续时间*/
  -webkit-animation-delay: 0s;
  /*动画延迟时间*/
  -webkit-animation-iteration-count: 10;
  /*定义循环资料，infinite为无限次*/ }

.ani-hammer {
  -webkit-animation-name: 'ani-hammer';
  -webkit-animation-iteration-count: 1; }

@-webkit-keyframes ani-hammer {
  0% {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-webkit-keyframes an-swing2 {
  0% {
    top: -10%; }
  100% {
    top: 80%; } }

/*# sourceMappingURL=style.css.map */
