<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<meta name="Keywords" content="点点客微伙伴、微信营销、微信代运营、微信定制开发、微网站、微营销">
<meta name="Description" content="点点客微伙伴，国内最大的微信公众智能服务平台，点点客微伙伴十大功能体系。">

<!-- 移动设备支持 -->
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<link href="dest/main.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="wrap wrap-color">
  <div class="main">
    <img src="images/p3-bg.jpg">
    <div class="tops-items">
      <div class="item">
        <img class="ott" src="images/p3-top1.png">
        <span class="item-name">大</span>
        <span class="item-score col-light">15869分</span>
      </div>
      <div class="item">
        <img class="ott" src="images/p3-top2.png">
        <span class="item-name">习大大</span>
        <span class="item-score col-light">15869分</span>
      </div>
      <div class="item">
        <img class="ott" src="images/p3-top3.png">
        <span class="item-name">习大大</span>
        <span class="item-score col-light">15869分</span>
      </div>
      <div class="item">
        <span class="item-num">50</span>
        <span class="item-name">习大大</span>
        <span class="item-score">15869分</span>
      </div>
    </div>
    <a class="p3-btn-back" href="01.html"></a>
    <a class="p3-btn-share jq-invite" href="javascript:;"></a>
  </div>
  <div class="mask-invite jq-mask jq-close">
    <img src="images/bm.png">
  </div>
</div>
<script src="dest/jquery-1.8.2.min.js"></script>
<script src="dest/main.min.js"></script>
<!-- <a href="#" onclick="location.reload(true);">刷新</a> -->
</body>
</html>
